openapi: 3.2.0
info:
  title: UniFi Site Manager Sites API
  version: 1.0.0
  description: Official Ubiquiti UniFi Site Manager API.
  contact:
    name: Ubiquiti
    url: https://developer.ui.com/site-manager-api/
  termsOfService: https://www.ui.com/legal/termsofservice/
  license:
    name: Ubiquiti Terms of Service
    url: https://www.ui.com/legal/termsofservice/
servers:
- url: https://api.ui.com
  description: UniFi Site Manager production endpoint
security:
- ApiKeyAuth: []
tags:
- name: Sites
  description: UniFi Network application sites
paths:
  /v1/sites:
    get:
      tags:
      - Sites
      summary: List Sites
      description: Retrieve a list of all sites (UniFi Network application sites) associated with the UI account.
      operationId: listSites
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
          default: 25
          maximum: 200
      - name: nextToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A page of sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    Site:
      type: object
      properties:
        siteId:
          type: string
        hostId:
          type: string
        meta:
          type: object
          properties:
            desc:
              type: string
            name:
              type: string
            timezone:
              type: string
            gatewayMac:
              type: string
        statistics:
          type: object
          additionalProperties: true
        permission:
          type: string
          description: owner, admin, super-admin, read-only
        isOwner:
          type: boolean
    SiteListResponse:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Site'
          nextToken:
            type: string
    Error:
      allOf:
      - $ref: '#/components/schemas/Envelope'
      - type: object
        properties:
          message:
            type: string
    Envelope:
      type: object
      properties:
        httpStatusCode:
          type: integer
        traceId:
          type: string
      required:
      - httpStatusCode
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key generated at https://unifi.ui.com/settings/api-keys
